.JokeContainer {
  position: absolute;
  top: 8%;
  left: 35.5%;
  width: 50%;
  height: auto;
  background-color: rgba(248, 248, 255, 1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.dummy {
  background-color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
